/*! base.css 1.0.0 | MIT | https://github.com/hd-code/web-snippets */

/**
 * Base CSS Settings
 * - should be the very first file to be loaded
 * - strips some base styles to have a clean slate to start with
 * - sets some practical defaults for easier styling
 * - fixes some browser inconsistencies
 */

// Resets

* {
    box-sizing: inherit;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Restore overwritten settings

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}

dd:not([class]),
ol:not([class]),
ul:not([class]) {
    padding-left: 1.5em;
}
ol[class],
ul[class] {
    list-style: none;
}

small {
    font-size: 0.8em;
}

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

// Practical base settings

html {
    box-sizing: border-box;
    height: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

pre {
    overflow-x: auto;
}

// Browser fixes

// Safari
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

// IE
a {
    background-color: transparent;
}
details,
main {
    display: block;
}
img {
    border-style: none;
}
template,
[hidden] {
    display: none;
}
