/* boilerplate file */

/**
 * Website's Theme
 * - defines colors, typography, utilities and special elements
 * - this file needs to be edited the most to match the specific project
 * - try to stick to the atomic css principle as much as possible
 *   - create utility classes with basic style settings and combine them in html
 *   - set global styles only for elements that have very few children
 * - any "dirty" hacks should be placed in shame.css file
 */

/* Colors */

.bg-main {
    &,
    &-focus:focus,
    &-hover:hover {
        background-color: #ddd;
    }
}

$colors: (
    primary: #00a,
    secondary: #06a,
    neutral: #fff,
    contrast: #000,
    error: #800,
    warn: #880,
    success: #080,
);
$kinds: (
    bc: border-color,
    bg: background-color,
    c: color,
);
@each $key, $prop in $kinds {
    @each $color, $value in $colors {
        .#{$key}-#{$color} {
            &,
            &-focus:focus,
            &-hover:hover {
                #{$prop}: $value;
            }
        }
    }
}

// TODO:
/* Typography --------------------------------------------------------------- */

.font-main {
    font-family: Helvetica, sans-serif;
}
.font-heading {
    font-family: Verdana, sans-serif;
}
.font-monospace {
    font-family: monospace, monospace;
}

.text-block * + * {
    margin-top: 0.5em;
}
.text-border {
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
}

/* Util --------------------------------------------------------------------- */

.border {
    border-style: solid;
    border-width: 1px;
}
.no-border {
    border: 0;
}

.circle {
    border-radius: 50%;
}
.rounded {
    border-radius: 0.5em;
}
.square {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cover-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gutter {
    margin-right: -1em;
    margin-bottom: -1em;
}
.gutter > * {
    margin-right: 1em;
    margin-bottom: 1em;
}

.box-shadow {
    box-shadow: 0 0 0.5em #000;
}
.text-shadow {
    text-shadow: 0.1em 0.1em #000;
}

.overlay {
    position: relative;
}
.overlay::after {
    background-color: #0004;
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Elements ----------------------------------------------------------------- */

.button,
button,
[type="submit"],
[type="reset"],
[type="button"] {
    background-color: #00a;
    border-radius: 0.5em;
    color: #fff;
    padding: 5em;
}
.button:focus,
button:focus,
[type="submit"]:focus,
[type="reset"]:focus,
[type="button"]:focus,
.button:hover,
button:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover {
    opacity: 0.8;
}

.headline,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, sans-serif;
    text-align: center;
}
.h1,
h1 {
    font-size: 2.5em;
}
.h2,
h2 {
    font-size: 2em;
}
.h3,
h3 {
    font-size: 1.5em;
}
.h4,
h4 {
    font-size: 1.2em;
}

.hr,
hr {
    border-top: 1px solid currentColor;
    height: 0;
    margin: 0.5em auto;
    width: 90%;
}

.link,
a {
    color: #060;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.link:focus,
a:focus,
.link:hover,
a:hover {
    opacity: 0.8;
}

.list,
ul:not(.reset) {
    padding-left: 1.5em;
    position: relative;
}
.list > *::before,
ul:not(.reset) > li::before {
    content: "-";
    position: absolute;
    left: 0.5em;
}

.list-numbered,
ol:not(.reset) {
    list-style-type: decimal;
    padding-left: 1.5em;
}
